@tailwind base;

@tailwind components;

@tailwind utilities;

/** for drawer */
.drawer {
  height: 100%;
  max-width: 450px;
  z-index: 22;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  position: fixed;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.drawer-cart {
  right: 0;
  transform: translate(450px);
}
.drawer-menu {
  left: 0;
  transform: translate(-450px);
}
.drawer-cart.open,
.drawer-menu.open {
  transform: translate(0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 21;
  position: fixed;
}
.component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
}
.component-overlay,
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
}
/** for produk list*/
.cart-scrollbar {
  max-height: calc(100vh - 233px);
  -webkit-overflow-scrolling: touch;
}
.os-host,
.os-host-textarea {
  position: relative;
  overflow: visible !important;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}
.os-viewport {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  outline: none !important;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
#os-dummy-scrollbar-size,
.os-viewport {
  -ms-overflow-style: scrollbar !important;
}
.os-padding {
  box-sizing: inherit;
  direction: inherit;
  position: absolute;
  overflow: visible;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
}

.os-viewport-native-scrollbars-invisible#os-dummy-scrollbar-size::-webkit-scrollbar,
.os-viewport-native-scrollbars-invisible#os-dummy-scrollbar-size::-webkit-scrollbar-corner,
.os-viewport-native-scrollbars-invisible.os-viewport::-webkit-scrollbar,
.os-viewport-native-scrollbars-invisible.os-viewport::-webkit-scrollbar-corner {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
  background: transparent !important;
}
.os-content {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  visibility: visible;
}

#os-dummy-scrollbar-size::after,
#os-dummy-scrollbar-size::before,
.os-content::after,
.os-content::before {
  content: "";
  display: table;
  width: 0.01px;
  height: 0.01px;
  line-height: 0;
  font-size: 0;
  flex-grow: 0;
  flex-shrink: 0;
  visibility: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #f3f3f3;
}
.os-size-auto-observer {
  box-sizing: inherit !important;
  height: 100%;
  width: inherit;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.os-resized-observer-host.observed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.os-resize-observer-host {
  padding: inherit;
  border: inherit;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
}
.os-resize-observer,
.os-resize-observer-host {
  box-sizing: inherit;
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.os-content-glue {
  box-sizing: inherit;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
} /** drawer */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.social {
  color: #999;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

/** component overlay banner*/
.uppercase {
  text-emphasis: uppercase;
}

.text-36px {
  font-size: 36px;
}
